@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.eot') format('eot'), url('fonts/Vazir.ttf') format('ttf'), url('fonts/Vazir.woff') format('woff'), url('fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
}
* {
    font-family: Vazir;
}
body {
    direction: rtl;
    padding: 0;
    margin: 0;
    background: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: block;
    text-align: center;
}
.container p.timer {
    font-size: 80px;
    font-weight: 800;
    color: lightseagreen;
}
.container .controls {
    display: flex;
    justify-content: center;
    width: 500px;
}
.container .controls .control {
    padding: 30px 45px;
    margin: 0px 8px;
    color: #fff;
    font-size: 30px;
    /* border: none; */
    border-radius: 25px;
    cursor: pointer;
}
.container .controls .start {
    background: lightseagreen;
}
.container .controls .reset {
    background: lightcoral;
}
